# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
src/logs/misc.log

/src/logs
/pkg
src/__debug_bin

/src/d/tehran
/src/d/cache
/src/d/crypto/BTCUSDT
/src/d/watchList.json
/src/cache
/src/watchList.json
/src/d/crypto
src/d/stock_list.csv
src/d/temp_watch_list.csv
src/d/license/activated.ini
src/d/license/license.ini
src/d/license/qasemt@gmail.com_activated.ini
